.list {
    width: calc(80%);
    margin: 8px auto;
    margin-top: 16px;
    background-color: #ccc;
    color: #333;
    border-radius: 5px;
    text-align: left;
    padding: 8px 32px;
}

.sub {
    margin: 0px 12px;
    height: 100%;
    background-color: #333;
    color: #edd736;
    margin: 24px auto;
    padding: 8px 32px;
    box-shadow: 0px 0px 5px 4px rgba(17,17,17,0.6);
    text-align: left;
    font-size: 18px;
}

.sub p a:before, p a:link, p a:visited {
    color: #edd736;
    text-decoration: none;
}

.sub a:hover {
    color: #d63a3a;
}

.top-10 {
    height: 100%;

    background-color: #333;
    color: #edd736;

    margin: 24px auto;
    padding: 8px;

    box-shadow: 0px 0px 5px 4px rgba(17,17,17,0.6);
    text-align: left;
}

.top-10 a:before, .top-10 a:link, .top-10 a:visited {
    color: #edd736;
    text-decoration: none;
}

.top-10 a:hover {
    color: #d63a3a;
}

.top-10 h3 {
    margin-left: 12px;
}

.top-10 li {
    margin: 8px;
    font-size: 18px;
}

#icon {
    width: 128px;
    height: 128px;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 16px;
}

#top-header {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

#top-header a:before, #top-header a:link, #top-header a:visited {
    color: #d63a3a;
}

#top-header a:hover {
    color: #eee;
}

#navigation {
    height: 100%;
    width: 40%;
    max-width: 480px;
    margin: 0px 12px;
    background-color: #293241;
    margin: 24px auto;
    padding: 8px 32px;
    box-shadow: 0px 0px 5px 4px rgba(17,17,17,0.6);
    text-align: left;
    font-size: 16px;
}

#navigation p {
    margin: 6px;
}

#navigation a:link, #navigation a:visited, #navigation a:before {
    color: #eee;
}

#navigation a:hover {
    color: #edd736;
}

#navigation ul, li {
    margin: 6px;
}

#navigation li:before {
    color: #eee;
}

#lastUpdated
{
    width: 100%;
    text-align: center;
    margin: 8px;
    margin-top: 12px;
}