body {
    color: #edd736;
    /* background-color: #444; */
    background-color: #3b4f43;
    font-family: 'Roboto', sans-serif;
    padding: 0px 32px;
}

h3 {
    padding-top: 8px;
}

.container {
    margin: 32px auto;
    background-color: #333;
    height: 100%;
    box-shadow: 0px 0px 5px 4px rgba(17,17,17,0.6);
    text-align: center;
    padding: 32px 8px;
}

.main {
    max-width: 800px;
    width: calc(100% - 128px);
    padding: 32px;
}

.container .main {
    margin: 32px;
}

.list {
    width: calc(80%);
    margin: 8px auto;
    margin-top: 16px;
    background-color: #ccc;
    color: #333;
    border-radius: 5px;
    text-align: left;
    padding: 8px 32px;
}

.sub {
    margin: 0px 12px;
    height: 100%;
    background-color: #333;
    color: #edd736;
    margin: 24px auto;
    padding: 8px 32px;
    box-shadow: 0px 0px 5px 4px rgba(17,17,17,0.6);
    text-align: left;
    font-size: 18px;
}

.heading {
    text-align: left;
    margin-left: 48px;
}

.top-10 {
    height: 100%;

    background-color: #333;
    color: #edd736;

    margin: 24px auto;
    padding: 8px;

    box-shadow: 0px 0px 5px 4px rgba(17,17,17,0.6);
    text-align: left;
}

.top-10 h3 {
    margin-left: 12px;
}

.top-10 li {
    margin: 8px;
    font-size: 18px;
}

#icon {
    width: 128px;
    height: 128px;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 16px;
}

#top-header {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

#navigation {
    height: 100%;
    width: 40%;
    max-width: 480px;
    margin: 0px 12px;
    background-color: #333;
    margin: 24px auto;
    padding: 8px 32px;
    box-shadow: 0px 0px 5px 4px rgba(17,17,17,0.6);
    text-align: left;
    font-size: 16px;
}

#navigation p {
    margin: 6px;
}

#navigation a:link, a:visited {
    color: #eee;
}

#navigation a:hover {
    color: #edd736;
}

#navigation ul, li {
    margin: 6px;
}

#navigation li:before {
    color: #eee;
}

#top-button {
    display: none;
    position: fixed;

    width: 80px;
    height: 64px;
    bottom: calc(100% / 20);
    right: calc(100% / 20);
    z-index: 2;

    border: none;
    outline: none;
    cursor: pointer;
    background-color: #d63a3a;
    text-align: center;
    border-radius: 5px;
    font-size: 22px;
}

#top-button:hover {
    background-color: #eee;
}
